.button__secondary {
  width: 100%;
  outline: none;
  margin: 10px 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 50px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid black;
  background-color: #ffffff;
  &:hover {
    color: #ffffff;
    background-color: #000000;
    transition: all 500ms ease-in-out;
  }
}
